@charset "UTF-8";

.Footer.container{
  display: flex;
  align-items: center;
  justify-content:space-around;
  
}

.Footer.container .container1{
  flex-grow:1;
  text-align:lfte;
}


.Footer.container .container2{
  flex-grow:1;
  text-align:right;
  font-size:150%;
}

.Footer.container .small{
  font-size:50%;
}


.Footer.container a {
	text-decoration:none; /*링크 밑줄 없어짐*/
	color:black;	/*링크 색상*/	
}

